/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {

/*banner start here*/
.banner_item {
    padding: 100px 0;
    text-align: center;
}
.banner_item h1 {
    font-size: 27px;
}
.banner_item p {
    margin: 25px 0;
    padding: 0;
}
.banner_buttons{
    text-align: center;
}
/* welcome start here*/
.comn_h1 {
    margin: 20px 0 25px;
    font-size: 25px;
}
.services_item {
    margin-top: 50px;
}
.ser_h2 {
    padding: 15px 0 15px;
}
.ser_p {
    padding: 15px 15px 25px;
}
.wel_button {
    padding-bottom: 30px;
}
/*about start here*/
.bp {
    padding-bottom: 60px;
}
.about_image {
    padding: 0;
     width: 100%; 
}
.about_content {
    text-align: center;
    padding: 0;
}
.abt_h1 {
    margin: 35px 0 30px;
}
.abt_p2 {
    margin: 25px 0 45px;
}

/*portfolio start here*/
.item_content {
    margin-top: 25px;
}


/*choose start here*/
.choose_item {
    margin-top: 25px;
}
.chos_p {
    padding: 15px 0 30px;
}
/*team start here*/
.icon_item {
    top: 90px;
}
.team_item {
    padding: 35px 0 0;
}
.tm_h2 {
    padding: 15px 0 5px 15px;
    font-size: 16px;
}
.tm_p {
    padding: 0 15px 20px;
}
/*template start here*/
.template{
    margin-bottom: 60px;
}
.tem_h1{
    margin: 0;
    font-size: 16px;
}
.tmp_btn {
    padding: 10px 20px;
}

/*testimoni start here*/
.testi_content {
    margin-bottom: 20px;
    padding: 15px 15px;
}
.test_h2 {
    margin: 15px 0 0 0;
    text-align: center;
}
.testi_button {
    padding: 0 10px;
    text-align: center;
}
.test_h4 {
    margin: 5px 0;
    text-align: center;
}
.test_h3 {
    text-align: center;
}
.test_p {
    margin: 10px 0 15px;
    text-align: center;
}
.test_pp {
    text-align: center;
}
.test_prev{
    margin-bottom: 0;
}
.test_next{
    margin-top: 0;
    padding: 15px 10px;
}
.test_prev, .test_next{
    font-size: 18px;
    writing-mode: horizontal-tb;
}
.t_line1, .t_line2, .t_line3{
    writing-mode: horizontal-tb;
}

/*contact start here*/
.cont_content {
    padding: 15px 10px 40px;
}

/*footer start here*/
.foot_p{
    padding: 0;
}
.f_socialbtn i {
    padding: 10px;
}
.social_icon {
    padding-bottom: 45px;
}
.lower_footer {
    padding: 30px 0 10px;
}
.copyright {
    text-align: center
}
.quick_link {
    text-align: center;
}
.copyright p{
    margin-top: 15px;
    font-size: 14px;
}
.f_link {
    padding-right: 5px;
    font-size: 14px;
}


}
/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {

/*banner start here*/
.banner_item {
    padding: 135px 0;
    text-align: center;
}
.banner_item h1 {
    font-size: 45px;
}
.banner_item p {
    margin: 40px 0;
    padding: 0;
}
.banner_buttons{
    text-align: center;
}
/* welcome start here*/
.comn_h1 {
    margin: 25px 0 35px;
    font-size: 27px;
}
.services_item {
    margin-top: 70px;
}
.ser_h2 {
    padding: 25px 0 20px;
}
.ser_p {
    padding: 20px 15px 30px;
}
/*about start here*/
.bp {
    padding-bottom: 70px;
}
.about_image {
    padding: 0;
     width: 100%; 
}
.about_content {
    text-align: center;
    padding: 0;
}
.abt_h1 {
    margin: 35px 0 30px;
}
.abt_p2 {
    margin: 25px 0 55px;
}
/*choose start here*/
.choose_item {
    margin-top: 30px;
}
.chos_p {
    padding: 15px 0 40px;
}
/*team start here*/
.icon_item {
    top: 60px;
}
.team_item {
    padding: 35px 0 0;
}
.tm_h2 {
    padding: 15px 0 5px 15px;
    font-size: 16px;
}
.tm_p {
    padding: 0 15px 20px;
}
/*template start here*/
.template{
    margin-bottom: 70px;
}
.tem_h1{
    margin: 0;
    font-size: 17px;
}
/*testimoni start here*/
.testi_content {
    margin-bottom: 20px;
}
.test_h2 {
    margin: 15px 0 0 0;
    text-align: center;
}
.testi_button {
    padding: 0 10px;
    text-align: center;
}
.test_h4 {
    margin: 5px 0;
    text-align: center;
}
.test_h3 {
    text-align: center;
}
.test_p {
    margin: 10px 0 15px;
    text-align: center;
}
.test_pp {
    text-align: center;
}
.test_prev{
    margin-bottom: 0;
}
.test_next{
    margin-top: 0;
    padding: 20px 10px;
}
.test_prev, .test_next{
    font-size: 18px;
    writing-mode: horizontal-tb;
}
.t_line1, .t_line2, .t_line3{
    writing-mode: horizontal-tb;
}
/*footer start here*/
.foot_p {
    padding: 0;
}
.f_socialbtn i {
    padding: 10px;
}
.social_icon {
    padding-bottom: 60px;
}
.lower_footer {
    padding: 30px 0 10px;
}
.copyright {
    text-align: center
}
.quick_link {
    text-align: center;
}
.copyright p{
    margin-top: 15px;
    font-size: 14px;
}
.f_link {
    padding-right: 8px;
    font-size: 15px;
}

}
/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {

/*banner start here*/
.banner_item {
    padding: 145px 0;
}
.banner_item h1 {
    font-size: 45px;
}
.banner_item p {
    margin: 45px 0;
    padding: 0 75px 0 0;
}
/* welcome start here*/
.comn_h1 {
    margin: 25px 0 40px;
}
.services_item {
    margin-top: 80px;
}
.ser_h2 {
    padding: 25px 0 20px;
}
.ser_p {
    padding: 20px 15px 35px;
}

/*about start here*/
.bp {
    padding-bottom: 80px;
}
.about_image {
    padding: 0 75px;
     width: 100%; 
}
.about_content {
    text-align: center;
    padding: 0 50px 0 50px;
}
.abt_h1 {
    margin: 30px 0 35px;
}
.abt_p2 {
    margin: 35px 0 55px;
}

/*choose start here*/
.choose_item {
    margin-top: 35px;
}
.chos_p {
    padding: 15px 0 40px;
}
/*team start here*/
.icon_item {
    top: 130px;
}
.team_item {
    padding: 35px 0 0;
}
.tm_h2 {
    padding: 15px 0 5px 15px;
    font-size: 16px;
}
.tm_p {
    padding: 0 15px 20px;
}
/*price start here*/
.price_item {
    margin-top: 50px;
    padding: 0 15px 40px;
}
.itm_pack {
    top: -13px;
}
.price_item h2 {
    margin: 0;
    font-size: 30px;
}

.pric_button {
    padding: 15px 30px;
}
/*template start here*/
.template{
    margin-bottom: 80px;
}
.tem_h1{
    margin: 0;
}
/*testimoni start here*/
.testi_content {
    margin-bottom: 20px;
}
.testi_button {
    padding: 0 10px;
    text-align: center;
}
.test_h4 {
    margin: 5px 0;
}
.test_p {
    margin: 10px 0 15px;
}
.test_prev{
    margin-bottom: 0;
}
.test_next{
    margin-top: 0;
    padding: 20px 10px;
}
.test_prev, .test_next{
    font-size: 18px;
    writing-mode: horizontal-tb;
}
.t_line1, .t_line2, .t_line3{
    writing-mode: horizontal-tb;
}
/*footer start here*/
.foot_p {
    padding: 0;
}
.social_icon {
    padding-bottom: 60px;
}
.copyright p{
    font-size: 14px;
}
.f_link {
    padding-right: 8px;
    font-size: 15px;
}

}
/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {

/*banner start here*/
.banner_item {
    padding: 160px 0;
}
.banner_item h1 {
    font-size: 49px;
}
.banner_item p {
    margin: 45px 0;
    padding: 0;
}
/*team start here*/
.icon_item {
    top: 40px;
}
.team_item {
    padding: 35px 0 0;
}
.tm_h2 {
    padding: 15px 0 5px 10px;
    font-size: 16px;
}
.tm_p {
    padding: 0 10px 20px;
}
/*price start here*/
.price_item {
    margin-top: 40px;
    padding: 0 15px 40px;
}
.itm_pack {
    top: -13px;
}
.price_item h2 {
    margin: 0;
    font-size: 30px;
}
.pric_button {
    padding: 15px 30px;
}
/*testimoni start here*/
.testi_button {
    padding: 40px 10px;
}
.test_h4 {
    margin: 5px 0;
}
.test_p {
    margin: 10px 0 15px;
}
.test_prev{
    margin-bottom: 56px;
}
.test_next{
    margin-top: 56px;
}
/*footer start here*/
.foot_p {
    padding: 0;
}
.social_icon {
    padding-bottom: 80px;
}



}
/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) and (max-width: 1399.98px) {




}

/*Extra Extra large devices (extra large desktops, 1400px and up)*/
@media (min-width: 1400px) {


}
